:root {
  --bg: #ffffff;
  --text: #222;
  --card: #f4f4f4;
  --primary: #4f46e5;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}




.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background: var(--card);
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: var(--text);
}




.hero {
  padding: 80px 20px;
  text-align: center;
  animation: fade 1s;
}




.primary-btn {
  padding: 12px 20px;
  background: var(--primary);
  color: white;
  border: none;
  cursor: pointer;
  transition: transform .2s;
}

.primary-btn:hover {
  transform: scale(1.05);
}



.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 40px;
}

.card {
  background: var(--card);
  padding: 20px;
  transition: transform .2s;
}

.card:hover {
  transform: translateY(-5px);
}




.about,
.contact {
  padding: 40px;
  text-align: center;
}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: var(--card);
}




@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}




@media (min-width: 600px) {

  .projects {
    grid-template-columns: 1fr 1fr;
  }

}


@media (min-width: 900px) {

  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
